.footer {
    display: flex;
    width: 100%;
    padding: 2rem 2rem; /* Increased padding for better spacing */
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(180deg, rgba(var(--background-start-rgb), 0.8), rgba(var(--background-end-rgb), 0.9));
    border-top: 2px solid rgba(var(--tile-border-rgb), 0.1); /* Subtle top border for separation */
}

.contact {
    font-size: 1rem; /* Increased font size for better readability */
    font-style: italic; /* Adding a bit of style */
}

.socials {
    display: flex;
    gap: 1.5rem; /* Increased gap for better separation */
}

.socials a {
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.2rem; /* Increase the size if you're using font icons */
    transition: transform 0.2s ease, color 0.2s ease; /* Smooth transition for hover effects */
    color: rgba(var(--foreground-rgb), 0.7); /* Slightly faded color to start with */
}

.socials a:hover {
    transform: translateY(-3px); /* Slight upward lift on hover */
    color: rgba(var(--foreground-rgb), 1); /* Full color on hover */
}
